{{#if siteSettings.enhanced_ignore_enabled}}
<div class="control-group enhanced-ignore">
    <label class="control-label">{{i18n "enhanced_ignore.enhanced_ignore"}}</label>

    <div class="controls">
      {{preference-checkbox
          labelKey="enhanced_ignore.hide_ignored_topics"
          checked=model.custom_fields.hide_ignored_topics}}
      
      {{preference-checkbox
          labelKey="enhanced_ignore.hide_my_topics_to_ignored"
          checked=model.custom_fields.hide_my_topics_to_ignored}}
    </div>
  </div>
{{/if}}